@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

body {
  font-family:
    "Pretendard Variable",
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

/*스크롤바 없애는 전역 스타일*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/*색상 설정*/
@theme {
  --color-gray-05: #f7f7f8;
  --color-gray-10: #e6e8ea;
  --color-gray-20: #ccd1d5;
  --color-gray-30: #b0b8bf;
  --color-gray-40: #8e99a4;
  --color-gray-50: #6d7b87;
  --color-gray-60: #56616b;
  --color-gray-80: #34373e;

  --color-white: #ffffff;

  --color-black: #171a1f;

  --color-blue-05: #e6f9ff;
  --color-blue-25: #81e0fd;
  --color-blue-50: #03c1fb;
  --color-blue-60: #029bca;
  --color-blue-70: #027497;

  --color-green-05: #e6fff3;
  --color-green-25: #81fdc5;
  --color-green-50: #03fb8a;
  --color-green-70: #029753;

  --color-red-02: #fff5f5;
  --color-red-05: #ffe5e5;
  --color-red-25: #ff8080;
  --color-red-40: #ff3333;
  --color-red-70: #990000;

  --color-yellow-05a: #fff8e5;
  --color-yellow-25a: #ffd880;
  --color-yellow-50a: #ffbb00;
  --color-yellow-50b: #ffa500;
  --color-yellow-50k: #fee500;

  --color-violet-02: #f9f6fd;
  --color-violet-20: #c2a9ef;
  --color-violet-45: #753ddb;

  --shadow-card:
    0px 2px 8px 0px rgba(0, 0, 0, 0.04), 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
}
